.Person {
    width: 60%;
    margin: auto;
    border: 1px solid #eee;
    padding: 16px;
    margin-top: 10px;
    text-align: center;
    color:Pink;
}

@media (min-width:500px) {
    .Person {
        width:450px;
    }
}